<!-- THRESHOLDS TEMPLATES -->
<template id="hashmap-threshold-table">
	<div class="uk-overflow-auto">
		<div v-if="status.loading" class="uk-inline" style="width: 100%; height: 150px">
			<span class="uk-position-center" uk-spinner="ratio: 3" style="text-align: center"></span>
		</div>
		<table v-else class="uk-table uk-table-middle uk-table-divider">
			<thead>
				<tr>
					<th class="uk-table-shrink"><i @click="status.creating = true" class="fa fa-plus"></i></th>
					<th class="uk-width-1-6">Level</th>
					<th class="uk-width-1-6">Type</th>
					<th class="uk-width-1-6">Cost</th>
					<th class="uk-width-1-4">Group Name</th>
					<th class="uk-width-1-4">Project</th>
					<th class="uk-table-shrink">Actions</th>
				</tr>
			</thead>
			<tbody v-if="thresholds.length == 0 && !status.creating">
				<td colspan="7">No threshold found.</p></td>
			</tbody>
			<tbody v-if="status.creating">
				<tr is="hashmap-threshold-row-creation" 
					:service_id="service_id" 
					:field_id="field_id" 
					v-on:close-creation="status.creating = false"
					v-on:create-threshold="create_row($event)">
				</tr>
			</tbody>
			<tbody>
				<tr is="hashmap-threshold-row"
					v-for="threshold in thresholds" 
					v-bind:key="threshold.threshold_id" 
					:threshold="threshold"
					v-on:delete-threshold="delete_row($event)"></tr>
			</tbody>
		</table>
	</div>
</template>

<template id="hashmap-threshold-row">
	<tr @mouseover="hover = true" @mouseleave="hover = false">
		<td></td>
		<td>${threshold.level}</td>
		<td>${threshold.type}</td>
		<td>${threshold.cost}</td>
		<td>${threshold.group_id}</td>
		<td>${threshold.tenant_id}</td>
		<td><i v-if="hover" class="fa fa-trash" @click="_delete"></i></td>
	</tr>
</template>

<template id="hashmap-threshold-row-creation">
	<tr>
		<td><i class="fa fa-info" :uk-tooltip="'title: ' + description + '; pos: top'"></i></td>
		<td>
			<input v-model="new_threshold.level" class="uk-input" type="number" placeholder="Level">
        </td>
		<td>
			<select v-model="new_threshold.type" class="uk-select">
                <option value="flat">Flat</option>
                <option value="rate">Rate</option>
            </select>
        </td>
		<td>
			<input v-model="new_threshold.cost" class="uk-input" type="number" placeholder="Cost">
        </td>
        <td>
			<input v-model="new_threshold.group_id" class="uk-input" type="text" placeholder="Group">
        </td>
        <td>
			<input v-model="new_threshold.tenant_id" class="uk-input" type="text" placeholder="Project">
        </td>
        <td>
        	<i @click="_create" class="fa fa-check"></i>
            <i @click="$emit('close-creation')" class="fa fa-times" style="padding-left: 10px;"></i>
        </td>
	</tr>
</template>
